*.aep
node_modules/
After\ Effects/
other-visualizations/visualizations/logo/LogoVideoFrames
other-visualizations/visualizations/ddpm_vs_ddim/plots/*.png
other-visualizations/visualizations/ddpm/plots/*.png