/* Store global styles here */
:root {
    --inner-component-width: 1400px;
    --dark-blue: #305886;
    --light-gray: #eaeaea;
    --font-family: 'Inter', sans-serif;
    --text-color: #555555;
}

body {
    margin: 0;
}